#include <windows.h>
#pragma code_page(65001)

101 ICON "FreeIsland.ico"
1 RT_MANIFEST "app.manifest"

1 VERSIONINFO
 FILEVERSION 1,0,3,0
 PRODUCTVERSION 1,0,3,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404b0"
    BEGIN
      VALUE "CompanyName", "Free Island\0"
      VALUE "FileDescription", "浮岛 · Windows 7 原生版\0"
      VALUE "FileVersion", "1.0.3\0"
      VALUE "InternalName", "FreeIslandWin7\0"
      VALUE "OriginalFilename", "FreeIslandWin7.exe\0"
      VALUE "ProductName", "浮岛\0"
      VALUE "ProductVersion", "1.0.3\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 1200
  END
END
